@font-face {
  font-family: 'gg-sans';
  src: url('./assets/fonts/gg sans Regular.woff2') format('woff2'),
  url('./assets/fonts/gg sans Regular.ttf') format('ttf');
}

body {
  font-family: 'gg-sans', sans-serif;
}
